# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Build outputs
dist/
dist-ssr/
dist-frontend/
dist-electron/
.build/
.next/
out/
build/
build/Release

# Vite / Parcel / Snowpack / Web bundlers
.cache/
.vite/
.parcel-cache/
.web_modules/
.rpt2_cache/
.rts2_cache_*/

# Env files
.env
.env.*
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/IDE configs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage reports
coverage/
*.lcov
.nyc_output/

# ESLint / Stylelint / TS build info
.eslintcache
.stylelintcache
*.tsbuildinfo

# Test outputs
jest-html-reporters-*.html

# Misc
.DS_Store
Thumbs.db
*.tgz
.yarn-integrity
.node_repl_history

# Framework specific
.nuxt/
.vuepress/dist/
.temp/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port/
.vscode-test/
**/.vitepress/dist/
**/.vitepress/cache/
